* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.movies-list {
  padding: 36px;
  width: 100%;
}

.movies-item {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
}

.item-card {
  display: flex;
  position: relative;
  border-radius: 0;
}

.ant-card-body {
  width: 100%;
  max-width: 481px;
  padding: 15px !important;
}

.card-title {
  font-size: 16px;
  max-width: 85%;
  overflow: hidden;
  margin-bottom: 5px;
}

.ant-card-cover .card-img {
  width: 185px;
  height: 280px;
  background-color: #000;
}

.card-rating {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
}

.card-date, .card-nothing {
  margin-bottom: 7px;
  font-size: 14px;
  color: #000000A6;
}

.card-genres {
  margin-bottom: 7px;
}

.genres-item {
  height: 20px;
  font-size: 12px;
  line-height: 12px;
  padding: 2px 5px;
  margin-right: 2px;
}

.genres-item > span {
  color: rgba(0, 0, 0, 0.65);
}

.card-description {
  color: #000;
}

.card-stars {
  display: block;
  position: absolute;
  bottom: 24px;
}

.film-input {
  padding: 0 36px;
}

.list-warning {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}


@media (max-width: 1200px)  {
  .item-card {
    height: 245px;
  }

  .card-stars {
    bottom: 10px;
    right: 10px;
  }

  .card-header {
    padding-left: 70px;
  }

  .card-description {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
  }
  .ant-card-body {
    max-width: 100%;
    padding: 10px !important;
  }

  .ant-card-cover .card-img {
    width: 60px;
    height: 90px;
    border-radius: 0 !important;
    position: absolute;
  }
}

@media (max-width: 750px) {
  .card-title {
    max-width: 70%;
  }

  .card-stars svg {
    width: 0.7em;
  }
}

@media (max-width: 575px) {
  .card-title {
    max-width: 80%;
  }

  .card-stars svg {
    width: .8em;
  }
}